<a href="https://colab.research.google.com/github/Ihbar1/ihbar.github.io/blob/main/praktikum_sistem_rekomendasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Membaca data - data yang telah di unzib mengunakan fungsi pandas.read_csv
import pandas as pd

movies = pd.read_csv('sampleMovies.csv')
ratings = pd.read_csv('sampleRatings.csv')

In [13]:
print('jumlah data film: ', len(movies.MovieId.unique()))
print('jumlah data rating film: ', len(ratings.MovieId.unique()))
print('jumlah data user: ', len(ratings.UserId.unique()))

jumlah data film:  838
jumlah data rating film:  838
jumlah data user:  11

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MovieId      838 non-null    int64
 1   Title        838 non-null    object
 2   Genre        838 non-null    object
 3   Description  838 non-null    object
 4   Director     838 non-null    object
 5   Year         838 non-null    int64
 6   Actors       838 non-null    object
 7   Action       838 non-null    int64
 8   Adventure    838 non-null    int64
 9   Aniimation   838 non-null    int64
 10  Biography    838 non-null    int64
 11  Comedy       838 non-null    int64
 12  Crime        838 non-null    int64
 13  Drama        838 non-null    int64
 14  Family       838 non-null    int64
 15  Fantasy      838 non-null    int64
 16  History      838 non-null    int64
 17  Horror       838 non-null    int64
 18  Music        838 non-null    int64
 19  Musical      838 non-null    int64
 20  Mystery      838 non-null    int64
 21  Romance      838 non-null    int64
 22  Sci-Fi       838 non-null    int64
 23  Sport        838 non-null    int64
 24  Thriller     838 non-null    int64
 25  War          838 non-null    int64
 26  Western      838 non-null    int64
dtypes: int64(22), object(5)
memory usage: 176.9+ KB

In [15]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UserId            838 non-null    int64
 1   MovieId           838 non-null    int64
 2   Rating            809 non-null    float64
 3   Runtime(Minutes)  838 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 26.3 KB

In [22]:
print('Banyak data: ', len(movies.MovieId.unique()))
print('Jenis genre film:' , movies.Genre.unique())

Banyak data:  838
Jenis genre film: ['Action,Adventure,Sci-Fi' 'Adventure,Mystery,Sci-Fi' 'Horror,Thriller'
 'Animation,Comedy,Family' 'Action,Adventure,Fantasy' 'Comedy,Drama,Music'
 'Action,Adventure,Biography' 'Adventure,Drama,Romance'
 'Adventure,Family,Fantasy' 'Biography,Drama,History'
 'Animation,Adventure,Comedy' 'Action,Comedy,Drama' 'Action,Thriller'
 'Biography,Drama' 'Drama,Mystery,Sci-Fi' 'Adventure,Drama,Thriller'
 'Drama' 'Comedy' 'Action,Adventure,Drama' 'Drama,Thriller'
 'Action,Adventure,Comedy' 'Action,Horror,Sci-Fi' 'Adventure,Drama,Sci-Fi'
 'Action,Adventure,Western' 'Comedy,Drama' 'Action,Crime,Thriller'
 'Action,Crime,Drama' 'Adventure,Drama,History' 'Crime,Horror,Thriller'
 'Drama,Romance' 'Comedy,Drama,Romance' 'Crime,Drama,Mystery'
 'Drama,Romance,Thriller' 'Drama,History,Thriller' 'Action,Drama,Thriller'
 'Action,Drama,Romance' 'Drama,Fantasy' 'Action,Sci-Fi'
 'Adventure,Drama,War' 'Action,Comedy,Fantasy' 'Biography,Comedy,Crime'
 'Crime,Drama' 'Comedy,Crime,Drama' 'Action,Comedy,Crime'
 'Animation,Drama,Fantasy' 'Horror,Mystery,Sci-Fi'
 'Drama,Mystery,Thriller' 'Crime,Drama,Thriller' 'Biography,Crime,Drama'
 'Action,Horror,Thriller' 'Action,Fantasy,War' 'Adventure,Drama,Fantasy'
 'Drama,Horror,Mystery' 'Adventure,Drama,Family'
 'Adventure,Comedy,Romance' 'Adventure,Crime,Mystery'
 'Comedy,Family,Musical' 'Adventure,Comedy,Drama' 'Drama,Horror,Thriller'
 'Drama,Music' 'Mystery,Thriller' 'Comedy,Family' 'Biography,Comedy,Drama'
 'Drama,Western' 'Drama,Mystery,Romance' 'Action,Drama,Mystery'
 'Action,Adventure,Crime' 'Adventure,Sci-Fi,Thriller'
 'Action,Comedy,Mystery' 'Action,Adventure,Thriller'
 'Drama,Fantasy,Romance' 'Action,Drama,History'
 'Animation,Adventure,Family' 'Drama,Romance,Sci-Fi'
 'Action,Adventure,Family' 'Action,Comedy' 'Horror,Mystery,Thriller'
 'Comedy,Romance' 'Horror,Mystery' 'Drama,Family,Fantasy' 'Drama,War'
 'Drama,Fantasy,Horror' 'Crime,Drama,History' 'Horror,Sci-Fi,Thriller'
 'Action,Drama,Sport' 'Adventure,Biography,Drama'
 'Biography,Drama,Thriller' 'Action,Adventure,Mystery' 'Drama,Horror'
 'Comedy,Crime' 'Drama,Fantasy,War' 'Action,Adventure,Romance'
 'Action,Drama,War' 'Drama,Musical,Romance' 'Drama,Sci-Fi,Thriller'
 'Action,Drama,Sci-Fi' 'Horror' 'Drama,Sci-Fi' 'Adventure,Fantasy'
 'Crime,Mystery,Thriller' 'Biography,Drama,Romance' 'Action,Adventure'
 'Action,Fantasy' 'Action,Drama,Horror' 'Comedy,Music,Romance'
 'Drama,History' 'Action,Biography,Drama' 'Biography,Drama,Sport'
 'Comedy,Horror,Thriller' 'Crime,Drama,Music' 'Action,Sci-Fi,Thriller'
 'Drama,Horror,Sci-Fi' 'Comedy,Horror' 'Comedy,Fantasy,Romance'
 'Comedy,Fantasy' 'Comedy,Drama,Fantasy' 'Adventure,Comedy,Horror'
 'Comedy,Mystery' 'Action,Mystery,Sci-Fi' 'Action,Crime,Fantasy'
 'Drama,Sport' 'Comedy,Fantasy,Horror' 'Animation,Action,Adventure'
 'Action,Comedy,Family' 'Adventure,Comedy' 'Comedy,Music'
 'Comedy,Drama,Horror' 'Action,Horror,Romance' 'Action,Drama,Fantasy'
 'Action,Mystery,Thriller' 'Action,Adventure,Horror'
 'Animation,Family,Fantasy' 'Action,Horror,Mystery'
 'Adventure,Comedy,Family' 'Action,Crime,Mystery' 'Comedy,Drama,Family'
 'Action,Crime,Sport' 'Mystery,Sci-Fi,Thriller' 'Sci-Fi,Thriller'
 'Adventure,Drama,Horror' 'Biography,History,Thriller' 'Adventure,Horror'
 'Adventure,Comedy,Sci-Fi' 'Fantasy,Horror' 'Action'
 'Action,Fantasy,Thriller' 'Comedy,Romance,Sport'
 'Animation,Action,Comedy' 'Drama,Fantasy,Thriller' 'Sci-Fi'
 'Action,Comedy,Romance' 'Action,Fantasy,Horror' 'Mystery,Romance,Sci-Fi'
 'Comedy,Drama,Thriller' 'Drama,History,War' 'Drama,Horror,Musical'
 'Animation,Fantasy' 'Drama,Mystery,War' 'Action,Drama,Family' 'Thriller'
 'Adventure,Drama,Western' 'Drama,Music,Romance' 'Comedy,Romance,Western'
 'Drama,Thriller,War' 'Drama,Fantasy,Mystery' 'Comedy,Crime,Thriller'
 'Animation,Comedy,Drama' 'Action,Comedy,Sci-Fi'
 'Adventure,Fantasy,Mystery' 'Mystery,Romance,Thriller'
 'Biography,Drama,Mystery' 'Comedy,Horror,Romance' 'Action,Thriller,War'
 'Action,Crime,Sci-Fi' 'Crime,Thriller' 'Comedy,Horror,Sci-Fi'
 'Crime,Drama,Fantasy' 'Action,Comedy,Horror' 'Drama,Fantasy,Music'
 'Action,Comedy,Sport' 'Adventure' 'Comedy,Drama,Musical'
 'Comedy,Family,Romance' 'Biography,Drama,Family' 'Drama,Fantasy,Musical'
 'Adventure,Family' 'Adventure,Comedy,Fantasy' 'Drama,Family,Music'
 'Comedy,Family,Fantasy']

In [23]:
print('Banyak jumlah rating:' , len(ratings.Rating.unique()))
print('jumlah rating berdasarkan user movie id:' , len(ratings.MovieId.unique()))
print('jumlah rating berdasarkan user id:' , len(ratings.UserId.unique()))
print('rating :',ratings.Rating.unique())

Banyak jumlah rating: 51
jumlah rating berdasarkan user movie id: 838
jumlah rating berdasarkan user id: 11
rating : [8.1 7.  7.3 7.2 6.2 6.1 8.3 7.1 nan 7.5 7.8 7.9 7.7 6.4 6.6 8.2 6.7 8.
 6.5 5.3 5.9 6.3 5.6 8.6 7.6 6.9 5.8 9.  7.4 4.1 8.5 6.8 8.8 5.4 6.  5.7
 8.4 4.7 5.2 5.5 3.9 4.9 5.1 4.3 5.  4.6 4.  1.9 2.7 4.4 4.8]